<|begin_of_text|>
{% for message in messages %}
<|header_start|>{{ message.role }}<|header_end|>

{{ message.content }}
{% if message.role == "system" and tools %}
Here is a list of functions in JSON format that you can invoke.

[
{% for tool in tools %}
    {
        "name": "{{ tool.function.name }}",
        "description": "{{ tool.function.description }}",
        "parameters": {{ tool.function.parameters | tojson }}
    }{% if not loop.last %},{% endif %}
{% endfor %}
]
{% endif %}
<|eot|>
{% endfor %}
<|header_start|>assistant<|header_end|>